# avoid version control files.
.git

# avoid dist::zilla generated and utility files
.build
_build
tmp

# avoid temp and backup files.
*~
*#
*.bak
*.old
*.rej
*.swp
*.tmp

# avoid archives of this distribution
Dist-Zilla-Plugin-Git-*

